<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">    
<meta name="viewport" content="width=device-width,minimum-scale=1">
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
{{ hugo.Generator }}
{{/* NOTE: For Production make sure you add `HUGO_ENV="production"` before your build command */}}
{{ if eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production")  }}
  <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
{{ else }}
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
{{ end }}

{{ $css := resources.Get "css/style.css" | resources.Minify | resources.Fingerprint }}
{{ $syntax := resources.Get "css/syntax.css" | resources.Minify | resources.Fingerprint }}

<link rel="stylesheet" href="{{ $css.RelPermalink }}">
<link rel="stylesheet" href="{{ $syntax.RelPermalink }}">

{{ if .Site.Params.enableGoogleAnalytics }} 
    {{ template "_internal/google_analytics_async.html" . }}
{{ end }}


{{ if .OutputFormats.Get "RSS" }}
  {{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
    <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
  {{ end }}
{{ end }}

