<div id="social">

{{ range $key, $val := .Site.Social }}
    <a class="symbol" href="{{ $val }}" target="_blank">
        {{ $svg :=  print "svgs/" $key ".svg" }}
        {{ partial $svg (dict "fill" "#73747b" "width" 28 "height" 28 ) }}
    </a>
{{ end }}

</div>
