{{ define "main" }}

<section id="single">
    <h1 class="title">{{ .Title }}</h1>

    <div class="tip">
        <span>
          {{ .Date.Format "Jan 2, 2006" }}
        </span>
        <span class="split">
          ·
        </span>
        <span>
          {{ .ReadingTime }} minute read
        </span>
    </div>

    <div class="content">
      {{  .Content }}
    </div>

    {{ with .Params.tags }}
        <div class="tags">
            {{ range . }}
                <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </div>
    {{ end}}
    
    {{ partial "comment.html" . }}

</section>

{{ end }}