{{ define "main" }}
{{ partial "profile.html" . }}

<section id="archive">
    {{ range .Data.Pages.GroupByDate "2006" }}
        <div class="group">
            <h3 class="key">
                {{ .Key }}
            </h3>

            {{ range .Pages }}
                <div class="value">
                  <div class="date">
                      {{ .Date.Format "Jan 2" }}
                  </div>
                  <div class="title">
                      <a href="{{ .RelPermalink }}">
                          {{ .Title }}
                      </a>

                      {{ with .Params.tags }}
                          <div class="tags">
                              {{ range . }}
                                  <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
                              {{ end }}
                          </div>
                      {{ end}}
                  </div>
                </div>
            {{ end }}          
        </div>
    {{ end }}


</section>


{{ end }}